body{
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin: auto;
    width: 66%;
    max-width: 1200px;
    justify-content: center;
   
}

/*Entete*/


.header{
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
    display: grid;
    max-width: 1440px;
    margin:auto;
}
.header img {
    width: 100px;
    height: 40px;
   
}

a{
    color: inherit;
    text-decoration: none;
}

.header nav{
    grid-area: navbar;
}
.header nav a{
    padding: 1rem 0;
    font-weight: 500;
    text-align: center;
    border-bottom: 3px transparent solid;
}
.header ul{
    margin: 1.2rem 0;
    width: 100%;
    text-align: center;
}
ul{
    list-style: none;
    display: inline-flex;
    padding: 0;
}
.header li{
    padding:0 1.2rem;
}
#inscription{
    grid-area: button;
}
#inscription a{
    color:#0065FC;
    font-weight: 700;
}



/*Navigation*/





/*Barre de Recherche*/


#searchBar{
    padding: auto;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    height: 2em;
   
}

#marqueur{
    border-radius: 10px 0 0 10px;
    color: black;
    background-color: #eee;
    font-size: 0.75em;
    height: auto;
    width: auto;
    padding: 0.75em;
    margin:-1px;
    border: 2px solid #eee;
    
}
.search{
    width: 10em;
    height: auto;
    padding-bottom: 4px;
    border:none;
    margin: 1px;
   
}

.button{
    background: #0065FC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 0 10px 10px 0;
    text-shadow:none;
    font-size: 0.75em;
    padding: 0 10px 0 10px;
    margin: -2px;
    height: auto;
    width: auto;
    
}

/*Filtre*/
.filter{
   width: 100%;
   display: flex;
   min-width: 730px;
   
}

.filter span{

    font-size: 1em;
    color: rgb(0, 0, 0);
    padding-right: 0.5em;
  
}

.filter p{

    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 1em;
    font-weight: bolder;
  
}



.filter ul{
    list-style-type: none;
    display: flex;
    margin-right: 1em;
    padding: 0;

   
}

.filter li {
    
    margin: auto;
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    margin-right: 0.5em;

}

.filter i{
  
    color: #0065FC;
    background-color:#DEEBFF;
    padding: 7px;
    border-radius: 18px;
    height: auto;
    width: 1em;
    border: 3px solid #DEEBFF; 
}

#info{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    font-size: 0.75em;
    padding:0.5em;
    width: 1em;
    border-radius: 100%;
    text-align: center;    
}

.infoText{
    font-size: 0.5em;
}

/*page Principal*/
.bloc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1em;
    margin-top: 1.5em;
    color: black;
    width: 100%;
    
}

section{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

section h1{
    font-size: 1em;
    width: 100%;
    margin-left: 1em;
}
/*partie hébergement*/
#hebergements{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    width: 65%;
    min-width: 200px;
    /*max-width: 750px;*/
    border-radius: 20px;
}


figure{
    background-color: white;
    border-radius: 20px;
    border:3px solid rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgb(184, 184, 184));
    height: 10em;
    margin: 0.5em;

}


#afficher{
    font-size: 1em;
    width: 100%;
    margin-left: 2em;
    margin-top: 1.5em;
    color: black;
}
figure img{
    border-radius: 18px 18px 0 0;
    height: 60%;
    width: 13em;
    object-fit: cover;

}

.cote{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}


.sousText{
    margin-left:0.8em;
    margin-top:0.5em;
    display: inline;
    justify-content: flex-start;
    flex-direction: column;
    width: 140px;
}
.sousText p{
    margin: auto;
    color: black;
}

.note{
    margin-left:0.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


figcaption i{
    color: #0065FC;
}

.gris{
    color: #cecece;
}

#pop{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    width:25%;
    min-width: 320px;
    border-radius: 20px;
}

#chart{
    margin: auto;
    font-size: 1em;
}

.populaires{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
}

.populaires h1{
    color: black;
    

}

#pop figure{
    display: flex;
    flex-direction: row;
    height:7em;
    width: 16em; 
  
}

#pop figure img{
    border-radius: 20px 0 0 20px;
    height: 7em;
    width:5.5em; 
    object-fit: cover;
    object-position: center; 
    
}

#activite{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
}
#activite h1{
    color: black;
    width: 100%;
}

.colone{
    width: 16em;
    height: 350px;  
}
.coloneB{
    width: 16em;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formatA{

    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    background-color:white;
    height: 100%;
    margin:0;
    border: none;
}

.formatB{
    height: 60%;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    margin-top: 0;
    margin-left: 0;
    border: none;
}
.formatC{
    height: 30%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 0;
    border: none;
}
.formatD{
    height: 45%;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    margin-top: 0;
    margin-left: 0;
    border: none;
}
.formatE{
    height: 50%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 0;
    border: none;
    margin:0;
}
.formatA img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatB img{
    height: 84%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatC img{
    height: 72%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatD img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatE img{
    height: 85%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}


/*pied de page*/
footer{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 3em;
    display: flex;
    align-items: flex-start;
    padding: 1em;
}

.credit{
    color: black;
    margin-left: 1em;
    margin-right: 9em;
}


.credit p{
    font-size: 0.6em;
    
}

.credit strong{
    color: black;
}





    /*nav mobile*/
@media screen and (max-width: 650px) {
            
        .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "logo . button"
            "navbar navbar navbar";
        position: relative;
        }
        .header li{
        width: 50%;
        padding: 0;
        }
        #inscription{
        position: absolute;
        top:0;
        right:0;
        padding: 1rem;
        width: auto;
        }
    .header img{
        margin-left: 1rem;
    }
}