body{
    font-family: 'Raleway', sans-serif;
    color: grey;
    width: 60%;
    margin: auto;
   
}

/*Entete*/
.logo{
    padding: auto;
}

header{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

img {
    width: 100px;
    height: 40px;
   
}

/*Navigation*/

nav ul{
    display: flex;
    list-style-type: none;
    padding-right: 16px;
    padding-top: 0.2em;
}
nav li{
    margin: 1em;   
}

#sousTitre {
    
    color: black;
    font-size: 40%;
    padding-right: 55%;
}

div p {
    font-size: 150%;
    color: grey;
}

nav {
    display: flex;
    flex-direction: row;
   
}


/*Barre de Recherche*/


#searchBar{
    padding: auto;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    height: 2em;
   
}

#marqueur{
    border-radius: 10px 0 0 10px;
    color: black;
    background-color: #eee;
    font-size: 0.75em;
    height: auto;
    width: auto;
    padding: 0.75em;
    margin:-1px;
    border: 2px solid #eee;
    
}
.search{
    width: 10em;
    height: auto;
    padding-bottom: 4px;
    border:none;
    margin: 1px;
   
}

.button{
    background: #0065FC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 0 10px 10px 0;
    text-shadow:none;
    font-size: 0.75em;
    padding: 0 10px 0 10px;
    margin: -2px;
    height: auto;
    width: auto;
    
}

/*Filtre*/
.filter{
   width: 100%;
   display: flex;
   
}

.filter span{

    font-size: 1em;
    color: rgb(0, 0, 0);
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
  
}

.filter p{

    font-size: 1em;
    color: rgb(0, 0, 0);
    padding-left: 1em;
    margin-top: 1.5em;
    font-weight: bolder;
  
}



.filter ul{
    list-style-type: none;
    display: flex;
    margin-right: 1em;

   
}

.filter li {
    
    display: flex;
    flex-direction: row;
    
    margin: auto;
    padding: auto;
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    margin-right: 0.5em;

}

.filter i{
  
    color: #0065FC;
    background-color:#DEEBFF;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 20px;
    height: auto;
    width: 1em;
    border: 3px solid #DEEBFF;
    
    
}

#info{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    font-size: 0.75em;
    padding:0.5em;
    width: 1em;
    border-radius: 100%;
    text-align: center;    
}

.infoText{
    font-size: 0.5em;
}

/*page Principal*/
.bloc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloc{
        font-size: 1em;
        margin-left: 2em;
        margin-top: 1.5em;
        color: black;
        width: 100%;
    }


section{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

section h1{
    font-size: 1em;
    width: 100%;
}
/*partie hébergement*/
#hebergements{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    width: 65%;
    border-radius: 20px;
}

figure{
    background-color: white;
    border-radius: 20px;
    border:3px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    margin: 0.5em;
    height: 10em;
    width: 12em;
 }


#afficher{
    font-size: 1em;
    width: 100%;
    margin-left: 2em;
    margin-top: 1.5em;
    color: black;
}
figure img{
    border-radius: 20px 20px 0 0;
    height: 60%;
    width: 12em;
    object-fit: cover;

}

.cote{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}


.sousText{
    margin-left:0.8em;
    margin-top:0.5em;
    display: inline;
    justify-content: flex-start;
    flex-direction: column;
}
.sousText p{
    margin: auto;
    color: black;
}

.note{
    margin-left:0.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


figcaption i{
    color: #0065FC;
}

#gris{
    color: #cecece;
}

#pop{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    width:25%;
    border-radius: 20px;
}

#chart{
    margin: auto;
    font-size: 1em;
}

.populaires{
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: black;
    padding:1em;
}

.populaires h1{
    color: black;

}

#pop figure{
    display: flex;
    flex-direction: row;
    height:6em;
    width: 16em; 
  
}

#pop figure img{
    border-radius: 20px 0 0 20px;
    height: 6em;
    width:5.5em; 
    object-fit: cover;
    object-position: center; 
    
}

#activite{
    border: 1px solid black;
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}
/*pied de page*/
footer{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 3em;
    display: flex;
    align-items: flex-start;
    padding: 1em;
}

.credit{
   
    color: black;
    margin-left: 6em;
    margin-right: 5em;
}


.credit p{
    font-size: 0.6em;
    
}

.credit strong{
    color: black;
}




