body{
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin: auto;
    width: 66%;
    max-width: 1200px;
   
}

/*Entete*/
.header{

    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . nav inscription";
    max-width: 1440px;
    margin:auto;
}
.header img {
    width: 100px;
    height: 40px;
}

a{
    color: inherit;
    text-decoration: none;
}

.header nav{
    grid-area: nav;
}

.header nav a{
    padding: 1rem 0;
    font-weight: 500;
    text-align: center;
    border-bottom: 3px transparent solid;
}
.header ul{
    margin: 1.2rem 0;
    width: 100%;
    text-align: center;
}
ul{
    list-style: none;
    display: inline-flex;
    padding: 0;
}
.header li{
    padding-right:1.2rem;    
}
nav li:hover{
    color: #0065FC;
    border-top:3px solid #0065FC; 
    padding-top:14px;
    margin-top: -17px; 

}
#inscription{
    grid-area: inscription;
}
#inscription a{
    color:#0065FC;
    font-weight: 700;
}

#sousTitre h1{
    font-size: 18px;
    color: black;
    margin-bottom: 6px;
}

#sousTitre p{
    font-size: 13px;
    margin-top:6px;
    margin-bottom:10px;
}

/*Barre de Recherche*/


#searchBar{
    display: flex;
    justify-content: flex-start;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    height: 2em;
    width: 15em;
    align-items: center;
    margin-top: 1em;
   
}

#marqueur{
    border-radius: 10px 0 0 10px;
    color: black;
    background-color: #eee;
    padding: 9px;
    height: auto;

    
}
.search{
    border:none;
    margin: 1px;
    width: 100%;
}

.button{
    background: #0065FC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 0 10px 10px 0;
    text-shadow:none;
    font-size: 0.75em;
    padding: 0 10px 0 10px;
    margin: -2px;
    height: 35px;
    width: auto;
    
}
#loupe{
    color: #1d1c1c00;
}

/*Filtre*/
.filter{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 1em;
   
}

.filter span{

    font-size: 1em;
    color: rgb(0, 0, 0);
    padding-right: 0.5em;
  
}

.filter p{

    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 1em;
    font-weight: bolder;
    padding-left: 0;
  
}

.filter ul{
    list-style-type: none;
    display: flex;
    margin-right: 1em;
    padding: 0; 
    flex-wrap: wrap;   
}

.filter li {  
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    margin-right: 0.5em;
}

.filter i{ 
    color: #0065FC;
    background-color:#DEEBFF;
    padding: 7px;
    border-radius: 18px;
    height: auto;
    width: 1em;
    border: 3px solid #DEEBFF; 
}

#info{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    font-size: 0.75em;
    padding:0.5em;
    width: 1em;
    border-radius: 100%;
    text-align: center;    
}

.infoText{
    font-size: 13px;
    align-items: center;
}

/*page Principal*/
.bloc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1em;
    margin-top: 1.5em;
    color: black;
    width: 100%;
}
section{
    padding:1em;
    min-width: 300px;
}

section h1{
    font-size: 1em;
}
section p{
    font-size: 12px;

}
/*partie hébergement*/
.container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}
#hebergements{
    background-color: #F2F2F2;
    width: 65%;
    min-width: 200px;
    border-radius: 20px;
}


figure{
    background-color: white;
    border-radius: 20px;
    border:3px solid rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem rgb(184, 184, 184));
    height: 10em;
    width: 30%;
    margin-right: 0;
    margin-left: 0;

}


figure img{
    border-radius: 18px 18px 0 0;
    height: 60%;
    width: 100%;
    object-fit: cover;

}

.cote{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}


.sousText{
    margin-left:1em;
    display: inline;
    justify-content: flex-start;
    flex-direction: column;
    padding-top:5px;
}
.sousText p{
    margin: auto;
    color: black;
}

.note{
    margin-left:0.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


figcaption i{
    color: #0065FC;
}

.gris{
    color: #cecece;
}

#pop{
    background-color: #F2F2F2;
    width:27%;
    border-radius: 20px;

}

.populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pop figure{
    display: flex;
    flex-direction: row;
    height:7em;
    width: 90%;
    margin: 1em; 
    min-width: 250px;
  
}

#pop figure img{
    border-radius: 15px 0 0 15px;
    height: auto;
    width:5.5em; 
    object-fit: cover;
    object-position: center; 
    
}

#activite{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#activite h1{
    color: black;
    width: 100%;
}


.colone{
    width: 22%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formatA{

    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    background-color:white;
    height: 100%;
    margin:0;
    border: none;
    width: 100%;
}

.formatB{
    height: 60%;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    margin-top: 0;
    margin-left: 0;
    border: none;
}
.formatC{
    height: 30%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 0;
    border: none;
}
.formatD{
    height: 45%;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    margin-top: 0;
    margin-left: 0;
    border: none;
}
.formatE{
    height: 50%;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 0;
    border: none;
    margin:0;
}
.formatA img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatB img{
    height: 85%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatC img{
    height: 72%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatD img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.formatE img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}


/*pied de page*/
footer{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 3em;
    display: flex;
    align-items: flex-start;
    padding: 1em;
}

.credit{
    color: black;
    width: 33%;
    padding-left: 1em;
}


.credit p{
    font-size: 0.6em;
    
}

.credit strong{
    color: black;
}

    /*nav mobile*/
@media screen and (max-width: 1000px){
    body{
        width: 100%;
    }
}
@media screen and (max-width: 680px) {
    body{
        width: 100%;
        min-width: 300px;
        align-items: center;
    }
            
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "logo . inscription"
            "nav nav nav";
        }
    #inscription{
        position: absolute;
        top:0;
        right:0;
        padding: 1rem;
        width: auto;
        border:none;
        }
    .header img{
        margin-left: 1rem;
    }
    nav{
        width: 100%;
    
    }
    nav li{
        border-bottom: 3px solid #cecece;
        width: 50%;
        padding: 1em;
    }    
    nav li:hover{
        color: #0065FC;
        border-bottom:3px solid #0065FC;
        border-top:none;
    }
    #idsearchBar{
        margin: auto;
    }
    .container{
        flex-direction: column;
        width: 100%;
    }
    figure{
        width: 100%;
    }
    #hebergements{
        background-color: white;
    }
    #pop{
        border-radius: 0;
    }
    #hebergements, #pop, #activite, .colone{
        width: 100%;
        height: auto;
    }
    #hebergements figure,#activite figure{
        height: 10em;
    }
    .formatA, .formatB, .formatC, .formatD, .formatE{
        margin-bottom:1em;
    }
    #activite img{
        height: 70%;
    }
    #searchBar{
        margin: auto;
        height: 40px;
        width: 70%;
    }
    footer{
        display: flex;
        flex-direction:column;
        align-items: center;
        }
    .credit{
        width: 100%;
        padding-left: 1em;
        font-size: 20px;
    }
    #searchBar{
        margin: auto;
        height: 40px;
        width: 70%;
    }
    .button{
        display: none;
    } 
    #loupe{
        color: #ffffff;
        background-color: #0065FC;
        border-radius: 10px 10px 10px 10px;

    }
    #loupe, #marqueur{
        padding:13px;
    }
    #pop{
        order:-1;
    }
    nav li:hover{
        color: #0065FC;
        margin-top: 2px; 
    }
}